@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heroHeadText{
    font-size: 2.5rem;
    font-weight: 700;
    color: #292929;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::selection{
  background-color: gray;
  color: white;
}

html,
body {
  /* For Firefox */
  scrollbar-width: none;
  /* For Internet Explorer and Edge */
  -ms-overflow-style: none;
}
/* For Chrome, Safari, and Opera */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.nav-links::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #292929;
  margin: auto;
  transition: 0.5s;
}

.nav-links:hover::after {
  width: 70%;
}


.blurb__heading {
  margin: 0 0 15px 0;
  /* color: #585858; */
  font-size: 58px;
  font-weight: 800;
}
  @media (max-width: 767px) {
    .blurb__heading{
      font-size: 32px;
  
    }
  }
  ul .experience::before {
    content: "▹";
    position: absolute;
    left: 0px;
    color: black;
  }